{% include "header.html" %}

<!-- Page Header -->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Dodaj użytkownika</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <h1 class="mt-5 mb-4">Lista użytkowników</h1>
    <!-- Dodaj formularz wyszukiwania -->
    <form action="{{ url_for('user_search') }}" method="GET" class="mb-4">
        <div class="input-group">
            <!-- Combobox dla wyboru kategorii wyszukiwania -->
            <select class="form-select" name="search_category">
                <option value="login">Login</option>
                <option value="email">E-mail</option>
                <option value="last_name">Imie i nazwisko</option>
            </select>
            <input type="text" name="query" class="form-control" placeholder="Wyszukaj...">
            <button type="submit" class="btn btn-primary">Szukaj</button>
        </div>
    </form>

    <!-- Wyświetl listę użytkowników -->
    <ul class="list-group" style="margin-bottom: 80px;">
        {% for user in users %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>Login:</strong> {{ user.login }}, <strong>Email:</strong> {{ user.email }}, <strong>Imię i nazwisko:</strong> {{ user.name }} {{ user.last_name }}
            </div>
            <!-- Dodaj linki do profilu użytkownika i usuwania użytkownika -->
            <div>
                <a href="#" class="btn btn-outline-secondary btn-sm" onclick="confirmDelete('{{ url_for('user_delete', user_id=user.id) }}')">Usuń☻</a>
                <a href="{{ url_for('user_profile', user_id=user.id) }}" class="btn btn-outline-secondary btn-sm">Profil</a>
            </div>
        </li>
        {% else %}
        <li class="list-group-item">Brak użytkowników</li>
        {% endfor %}
    </ul>
</div>

{% include "footer.html" %}

<!-- JavaScript -->
<script>
    function confirmDelete(url) {
        if (confirm("Czy na pewno chcesz usunąć tego użytkownika?")) {
            window.location.href = url;
        }
    }
</script>
